h1{
    color:rgb(136, 196, 45);
}
p{
    background:coral;
}
.blog-class{
    color:lightgreen;
}
#id_sample{
    color:purple;
    background:seashell;
}

[color]
{
    background:purple;
    position:fixed;   
}