h1{
    color:greenyellow;
}
p{
    background:coral;
}
.blog-class{
    color:lightgreen;
}
#id_sample{
    color:chocolate;
    background:seashell;
}

[color]
{
    background:lightcoral;
    position:fixed;   
}